body{
    background-color: brown;
}


.postPrincipal{
    
}

a:link {
    color: red;
}

.PostDescription{
    padding:5rem;
    margin: 2rem;
    background-color: rgba(27, 30, 29, 0.65);
    color: red;
}

